/* Estilo general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #58d6b3;
    color: #333;
}

header {
    background: #1ee95b;
    color: #070707;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

main {
    padding: 20px;
    background: #fff;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

h1, h2 {
    color: #007bff;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}
/* Estilo para la sección de playa */
#info-playa {
    background-color: #fffae6; /* Color suave para resaltar */
    border-left: 5px solid #ffc107; /* Barra decorativa */
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#info-playa h2 {
    color: #ff9800; /* Tono vibrante para el título */
}

#info-playa ul {
    list-style: square inside; /* Lista con estilo cuadrado */
    margin: 10px 0;
}

#info-playa ul li {
    margin: 10px 0;
    color: #333;
}


/* Estilo para la sección de deportes */
#deporte ul {
    list-style: square;
    padding-left: 20px;
}

#deporte li {
    margin-bottom: 10px;
}

.deporte-imagen {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
}

/* Estilo para la sección de música */
#musica ul {
    list-style: circle;
    padding-left: 20px;
}

#musica li {
    margin-bottom: 10px;
}

.musica-imagen {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
}

/* Estilos adicionales */
footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}
footer p {
    margin: 0;
}